* {
  margin: 0;
  padding: 0;
}
.banner {
  display: flex;
  background-color: rgba(229, 84, 115, 0.1);
  width: 1922px;
  height: 850px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.banner-image {
  width: 635px;
  height: 800px;
  flex-shrink: 0;
  padding-top: 50px;
  padding-right: 240px;
}

.banner-header {
  display: flex;
  width: 720px;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 197px;
  padding-left: 240px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-p {
  padding-top: 32px;
  padding-left: 240px;
  display: flex;
  width: 634px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.banner-button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  margin-left: 240px;
  margin-top: 32px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0px;
}
/*--------------- Featured  ---------------------*/

.featured-header {
  margin-top: 178px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.featured-p {
  margin-top: 24px;
  margin-left: 663px;
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  justify-content: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.featured-flowers {
  display: flex;
  flex: 33.33%;
  margin-top: 48px;
  justify-content: space-between;
}
/* 
.featured-flowers::after {
  content: "";
  clear: both;
  display: table;
} */
.flower1-bg {
  width: 464px;
  height: 538px;
  margin-left: 240px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flower2-bg {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flower3-bg {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  margin-right: 240px;
}

.flower-1 {
  padding-left: 76px;
  padding-top: 110px;
  width: 310px;
  height: 428px;
  flex-shrink: 0;
}

.flower-2 {
  padding-top: 117px;
  padding-left: 47px;
  width: 370px;
  height: 370px;
  flex-shrink: 0;
}

.flower-3 {
  padding-top: 67px;
  padding-left: 75px;
  width: 314px;
  height: 471px;
  flex-shrink: 0;
}
.flower-caption {
  justify-content: space-between;
}
.flower-caption ul {
  list-style: none;
}
.flower-caption li {
  display: inline-block;
}
.flower1-caption {
  margin-top: 32px;
  margin-left: 381px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.flower2-caption {
  margin-left: 308px;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.flower3-caption {
  margin-left: 308px;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* Facilities */
.facilities {
  width: 1440px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-left: 240px;
  margin-top: 120px;
  margin-bottom: 128px;
}

.icon {
  display: flex;
  flex: 33.33%;
  padding-top: 86px;
  justify-content: space-between;
}

.icon1 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  margin-left: 317px;
}
.icon2 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.icon3 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  margin-right: 232px;
}

.text {
  justify-content: space-between;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.text ul {
  list-style: none;
}
.text li {
  display: inline-block;
}

.icon1-caption {
  margin-left: 175px;
  margin-top: 24px;
}
.icon2-caption {
  margin-left: 100px;
  margin-top: 24px;
}
.icon3-caption {
  margin-right: 175px;
  margin-top: 24px;
  margin-left: 100px;
}
/*------------------------ Sale --------------------------*/

.sale {
  display: flex;
  height: 620px;
  width: 1920px;
  flex-shrink: 0;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
}

.sale-image {
  margin-right: 410px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 318px;
  height: 420px;
  flex-shrink: 0;
  margin-left: 186px;
}

.sale-header {
  margin-left: 423px;
  padding-top: 230px;
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sale-p {
  padding-top: 24px;
  margin-left: 395px;
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.sale-button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  border: 0px;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 646px;
  margin-bottom: 182px;
  margin-top: 32px;
}

/*-----------    instagram     ------------------------*/

.instagram-header {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 128px;
}

.instagram-p {
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 663px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.column {
  float: left;
  width: 25%;
  align-items: center;
  width: 342px;
  height: 396px;
  flex-shrink: 0;
  margin: 8px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.image-1 {
  margin-left: 240px;
}

.image-4 {
  margin-right: 240px;
}

/*--------------------  Deals -------------------------------*/

.deals {
  background-image: url("./Flower\ Asset/Rectangle 9.png");
  margin-left: 240px;
  margin-top: 128px;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
  position: relative;
}

/* .deals-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.deals-header {
  padding-top: 122px;
  padding-bottom: 10px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deals-p {
  padding-bottom: 48px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.deals-input {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: 0px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 16px;
}

.deals-btn {
  border: 0px;
  margin-left: 16px;
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.deals-2 {
  display: flex;
  margin-left: 287px;
  margin-bottom: 121px;
}

/* Footer */

footer {
  width: 1922px;
  height: 449px;
  flex-shrink: 0;
  background: #111010;
  margin-top: 128px;
}

.footer-txt {
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer h2 {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 128px;
}

footer h6 {
  display: flex;
  width: 625px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 648px;
  padding-top: 24px;
  padding-bottom: 32px;
}

footer p {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
